{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Focus - Bootstrap Admin Dashboard</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./images/favicon.png"
    />
    <link
      href="{% static 'vendor/datatables/css/jquery.dataTables.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/jquery-steps/css/jquery.steps.css'%}"
      rel="stylesheet"
    />
    <!--  <link href="{% static 'vendor/fullcalendar/css/fullcalendar.min.css'%}" rel="stylesheet">-->
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
  </head>

  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Nav header start
        ***********************************-->
      <div class="nav-header">
        <a href="index.html" class="brand-logo">
          <img class="logo-abbr" src="./images/logo.png" alt="" />
          <img class="logo-compact" src="./images/logo-text.png" alt="" />
          <img class="brand-title" src="./images/logo-text.png" alt="" />
        </a>

        <div class="nav-control">
          <div class="hamburger">
            <span class="line"></span><span class="line"></span
            ><span class="line"></span>
          </div>
        </div>
      </div>
      <!--**********************************
            Nav header end
        ***********************************-->

      <!--**********************************
            Header start
        ***********************************-->
      <div class="header">
        <div class="header-content">
          <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
              <div class="header-left">
                <div class="search_bar dropdown">
                  <span
                    class="search_icon p-3 c-pointer"
                    data-toggle="dropdown"
                  >
                    <i class="mdi mdi-magnify"></i>
                  </span>
                  <div class="dropdown-menu p-0 m-0">
                    <form>
                      <input
                        class="form-control"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                      />
                    </form>
                  </div>
                </div>
              </div>

              <ul class="navbar-nav header-right">
                <li class="nav-item dropdown notification_dropdown">
                  <a
                    class="nav-link"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                  >
                    <i class="mdi mdi-bell"></i>
                    <div class="pulse-css"></div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <ul class="list-unstyled">
                      <li class="media dropdown-item">
                        <span class="success"><i class="ti-user"></i></span>
                        <div class="media-body">
                          <a href="#">
                            <p>
                              <strong>Martin</strong> has added a
                              <strong>customer</strong> Successfully
                            </p>
                          </a>
                        </div>
                        <span class="notify-time">3:20 am</span>
                      </li>
                      <li class="media dropdown-item">
                        <span class="primary"
                          ><i class="ti-shopping-cart"></i
                        ></span>
                        <div class="media-body">
                          <a href="#">
                            <p>
                              <strong>Jennifer</strong> purchased Light
                              Dashboard 2.0.
                            </p>
                          </a>
                        </div>
                        <span class="notify-time">3:20 am</span>
                      </li>
                      <li class="media dropdown-item">
                        <span class="danger"><i class="ti-bookmark"></i></span>
                        <div class="media-body">
                          <a href="#">
                            <p>
                              <strong>Robin</strong> marked a
                              <strong>ticket</strong> as unsolved.
                            </p>
                          </a>
                        </div>
                        <span class="notify-time">3:20 am</span>
                      </li>
                      <li class="media dropdown-item">
                        <span class="primary"><i class="ti-heart"></i></span>
                        <div class="media-body">
                          <a href="#">
                            <p>
                              <strong>David</strong> purchased Light Dashboard
                              1.0.
                            </p>
                          </a>
                        </div>
                        <span class="notify-time">3:20 am</span>
                      </li>
                      <li class="media dropdown-item">
                        <span class="success"><i class="ti-image"></i></span>
                        <div class="media-body">
                          <a href="#">
                            <p>
                              <strong> James.</strong> has added a<strong
                                >customer</strong
                              >
                              Successfully
                            </p>
                          </a>
                        </div>
                        <span class="notify-time">3:20 am</span>
                      </li>
                    </ul>
                    <a class="all-notification" href="#"
                      >See all notifications <i class="ti-arrow-right"></i
                    ></a>
                  </div>
                </li>
                <li class="nav-item dropdown header-profile">
                  <a
                    class="nav-link"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                  >
                    <i class="mdi mdi-account"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="./app-profile.html" class="dropdown-item">
                      <i class="icon-user"></i>
                      <span class="ml-2">Profile </span>
                    </a>
                    <a href="./email-inbox.html" class="dropdown-item">
                      <i class="icon-envelope-open"></i>
                      <span class="ml-2">Inbox </span>
                    </a>
                    <a href="./page-login.html" class="dropdown-item">
                      <i class="icon-key"></i>
                      <span class="ml-2">Logout </span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div class="quixnav">
        <div class="quixnav-scroll">
          <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li>
              <a href="{% url 'index' %}" aria-expanded="false"
                ><i class="icon icon-globe-2"></i
                ><span class="nav-text">Acceuil</span></a
              >
            </li>

            <li>
              <a
                class="has-arrow"
                href="javascript:void()"
                aria-expanded="false"
                ><i class="icon icon-app-store"></i
                ><span class="nav-text">Localisation</span></a
              >
              <ul aria-expanded="false">
                <li><a href="{% url 'region' %}">Region</a></li>
                <li><a href="{% url 'prefecture' %}">Prefecture</a></li>
                <li>
                  <a href="{% url 'sous_prefecture' %}">Sous Prefecture</a>
                </li>
                <li>
                  <a href="{% url 'commune' %}">Commune / Arondissement</a>
                </li>
              </ul>
            </li>
            <li>
              <a
                class="has-arrow"
                href="javascript:void()"
                aria-expanded="false"
                ><i class="icon icon-app-store"></i
                ><span class="nav-text">Localisation</span></a
              >
              <ul aria-expanded="false">
                <li><a href="{% url 'secteur' %}">Sectuer</a></li>
                <li><a href="{% url 'publiccible' %}">Publics Cible</a></li>
              </ul>
            </li>

            <li>
              <a href="{% url 'centre_formation' %}" aria-expanded="false"
                ><i class="icon icon-globe-2"></i
                ><span class="nav-text">Centre Formation</span></a
              >
            </li>
            <!--<li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-chart-bar-33"></i><span class="nav-text">Charts</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./chart-flot.html">Flot</a></li>
                            <li><a href="./chart-morris.html">Morris</a></li>
                            <li><a href="./chart-chartjs.html">Chartjs</a></li>
                            <li><a href="./chart-chartist.html">Chartist</a></li>
                            <li><a href="./chart-sparkline.html">Sparkline</a></li>
                            <li><a href="./chart-peity.html">Peity</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Components</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-world-2"></i><span class="nav-text">Bootstrap</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./ui-accordion.html">Accordion</a></li>
                            <li><a href="./ui-alert.html">Alert</a></li>
                            <li><a href="./ui-badge.html">Badge</a></li>
                            <li><a href="./ui-button.html">Button</a></li>
                            <li><a href="./ui-modal.html">Modal</a></li>
                            <li><a href="./ui-button-group.html">Button Group</a></li>
                            <li><a href="./ui-list-group.html">List Group</a></li>
                            <li><a href="./ui-media-object.html">Media Object</a></li>
                            <li><a href="./ui-card.html">Cards</a></li>
                            <li><a href="./ui-carousel.html">Carousel</a></li>
                            <li><a href="./ui-dropdown.html">Dropdown</a></li>
                            <li><a href="./ui-popover.html">Popover</a></li>
                            <li><a href="./ui-progressbar.html">Progressbar</a></li>
                            <li><a href="./ui-tab.html">Tab</a></li>
                            <li><a href="./ui-typography.html">Typography</a></li>
                            <li><a href="./ui-pagination.html">Pagination</a></li>
                            <li><a href="./ui-grid.html">Grid</a></li>

                        </ul>
                    </li>

                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-plug"></i><span class="nav-text">Plugins</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./uc-select2.html">Select 2</a></li>
                            <li><a href="./uc-nestable.html">Nestedable</a></li>
                            <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
                            <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
                            <li><a href="./uc-toastr.html">Toastr</a></li>
                            <li><a href="./map-jqvmap.html">Jqv Map</a></li>
                        </ul>
                    </li>
                    <li><a href="widget-basic.html" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                                class="nav-text">Widget</span></a></li>
                    <li class="nav-label">Forms</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Forms</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./form-element.html">Form Elements</a></li>
                            <li><a href="./form-wizard.html">Wizard</a></li>
                            <li><a href="./form-editor-summernote.html">Summernote</a></li>
                            <li><a href="form-pickers.html">Pickers</a></li>
                            <li><a href="form-validation-jquery.html">Jquery Validate</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Table</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-layout-25"></i><span class="nav-text">Table</span></a>
                        <ul aria-expanded="false">
                            <li><a href="table-bootstrap-basic.html">Bootstrap</a></li>
                            <li><a href="table-datatable-basic.html">Datatable</a></li>
                        </ul>
                    </li>

                    <li class="nav-label">Extra</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-copy-06"></i><span class="nav-text">Pages</span></a>
                        <ul aria-expanded="false">
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="./page-error-400.html">Error 400</a></li>
                                    <li><a href="./page-error-403.html">Error 403</a></li>
                                    <li><a href="./page-error-404.html">Error 404</a></li>
                                    <li><a href="./page-error-500.html">Error 500</a></li>
                                    <li><a href="./page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                            <li><a href="./page-lock-screen.html">Lock Screen</a></li>
                        </ul>
                    </li>-->
          </ul>
        </div>
      </div>
      <!--**********************************
            Sidebar end
        ***********************************-->

      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">
        <div class="container-fluid">
          <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
              <div class="welcome-text">
                <h4>Hi, welcome back!</h4>
                <p class="mb-0">Your business dashboard template</p>
              </div>
            </div>
            <div
              class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex"
            >
              <ol class="">
                <li class="">
                  <a
                    href="javascript:void()"
                    data-toggle="modal"
                    data-target="#add-category"
                    class="btn btn-primary btn-event w-100"
                  >
                    <span class="align-middle"><i class="ti-plus"></i></span>
                    Create New
                  </a>
                </li>
              </ol>
            </div>
          </div>
          <!-- row -->

          <div class="row">
            <div class="col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-intro-title">Filtre</h4>

                  <div class="">
                    <div id="external-events" class="my-3">
                      <p>Drag and drop your event or click in the calendar</p>
                      <div class="external-event" data-class="bg-primary">
                        <i class="fa fa-move"></i>New Theme Release
                      </div>
                      <div class="external-event" data-class="bg-success">
                        <i class="fa fa-move"></i>My Event
                      </div>
                      <div class="external-event" data-class="bg-warning">
                        <i class="fa fa-move"></i>Meet manager
                      </div>
                      <div class="external-event" data-class="bg-dark">
                        <i class="fa fa-move"></i>Create New theme
                      </div>
                    </div>
                    <!-- checkbox -->
                    <div class="checkbox checkbox-event pt-3 pb-5">
                      <input
                        id="drop-remove"
                        class="styled-checkbox"
                        type="checkbox"
                      />
                      <label class="ml-2 mb-0" for="drop-remove"
                        >Remove After Drop</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Basic Datatable</h4>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table
                              id="example"
                              class="display"
                              style="min-width: 845px"
                            >
                              <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Region</th>
                                </tr>
                              </thead>
                              <tbody>
                                {%for prefecture in prefectures %}
                                <tr>
                                  <td>{{prefecture.nom}}</td>
                                  <td>{{ prefecture.region }}</td>
                                </tr>
                                {%endfor %}
                              </tbody>
                              <tfoot>
                                <tr>
                                  <th>Nom</th>
                                  <th>Region</th>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- BEGIN MODAL -->
            <div class="modal fade none-border" id="event-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"><strong>Add New Event</strong></h4>
                  </div>
                  <div class="modal-body"></div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-default waves-effect"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="button"
                      class="btn btn-success save-event waves-effect waves-light"
                    >
                      Create event
                    </button>

                    <button
                      type="button"
                      class="btn btn-danger delete-event waves-effect waves-light"
                      data-dismiss="modal"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal Add Category -->
            <div class="modal fade none-border" id="add-category">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"><strong>Add a category</strong></h4>
                  </div>
                  <div class="modal-body">
                     <form
                      method="post"
                      enctype="multipart/form-data"
                      id="regionForm"
                    >
                      {% csrf_token %} {{ form.as_p }}

                      <input
                        type="file"
                        name="fichier"
                        id="fichierInput"
                        
                      />

                      <button type="submit" name="preview">
                        Prévisualiser
                      </button>
                      <button type="submit" name="import">Importer</button>
                      <button type="submit" name="save">Enregistrer</button>
                      <button type="button" onclick="resetForm()">
                        Réinitialiser
                      </button>
                    </form>

                    <div id="previewContainer">
                      {% if preview_data %}
                      <h3>Prévisualisation des données à importer</h3>
                      <table border="1">
                        <thead>
                          <tr>
                            {% for key in preview_data.0.keys %}
                            <th>{{ key }}</th>
                            {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for row in preview_data %}
                          <tr>
                            {% for val in row.values %}
                            <td>{{ val }}</td>
                            {% endfor %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      {% endif %}
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-default waves-effect"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <!--<button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--**********************************
            Content body end
        ***********************************-->

      <!--**********************************
            Footer start
        ***********************************-->
      <div class="footer">
        <div class="copyright">
          <p>
            Copyright © Designed &amp; Developed by
            <a href="#" target="_blank">Quixkit</a> 2019
          </p>
        </div>
      </div>
      <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'vendor/global/global.min.js'%}"></script>
    <script src="{% static 'js/quixnav-init.js'%}"></script>
    <script src="{% static 'js/custom.min.js'%}"></script>
    <!--removeIf(production)-->
    <!-- Demo scripts -->
    <script src="{% static 'js/styleSwitcher.js'%}"></script>

    <script src="{% static 'vendor/jqueryui/js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'vendor/moment/moment.min.js'%}"></script>

    <script src="{% static 'vendor/fullcalendar/js/fullcalendar.min.js'%}"></script>
    <script src="{% static 'js/plugins-init/fullcalendar-init.js'%}"></script>

    <script src="{% static 'vendor/jquery-steps/build/jquery.steps.min.js'%}"></script>
    <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js'%}"></script>
    <!-- Form validate init -->
    <script src="{% static 'js/plugins-init/jquery.validate-init.js'%}"></script>

    <!-- Form step init -->
    <script src="{% static 'js/plugins-init/jquery-steps-init.js'%}"></script>

    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js'%}"></script>
  </body>
</html>
