{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Focus - Bootstrap Admin Dashboard</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/acfpe.png' %}"
    />
    <link
      href="{% static 'vendor/datatables/css/jquery.dataTables.min.css'%}"
      rel="stylesheet"
    />
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
    <!-- CSS Choices.js -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />
    <!-- Choices.js CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
    />

    <!-- Choices.js JS -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
  </head>

  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Nav header start
        ***********************************-->
      <div class="nav-header">
        <a href="{% url 'index' %}" class="brand-logo">
          <img
            class="img-fluid w-40 rounded center"
            src="{% static 'images/acfpe.png' %}"
            alt=""
          />
        </a>

        <div class="nav-control">
          <div class="hamburger">
            <span class="line"></span><span class="line"></span
            ><span class="line"></span>
          </div>
        </div>
      </div>
      <!--**********************************
            Nav header end
        ***********************************-->

      <!--**********************************
            Header start
        ***********************************-->
      <div class="header">
        <div class="header-content">
          <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
              <div class="header-left">
                <div class="search_bar dropdown">
                  <span
                    class="search_icon p-3 c-pointer"
                    data-toggle="dropdown"
                  >
                    <i class="mdi mdi-magnify"></i>
                  </span>
                  <div class="dropdown-menu p-0 m-0">
                    <form>
                      <input
                        class="form-control"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                      />
                    </form>
                  </div>
                </div>
              </div>

              <ul class="navbar-nav header-right">
                <li class="nav-item dropdown header-profile">
                  <a
                    class="nav-link"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                  >
                    <i class="mdi mdi-account"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="./page-login.html" class="dropdown-item">
                      <i class="icon-key"></i>
                      <span class="ml-2">Logout </span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div class="quixnav">
        <div class="quixnav-scroll">
          <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li>
              <a href="{% url 'index' %}" aria-expanded="false"
                ><i class="bi bi-house"></i
                ><span class="nav-text">Acceuil</span></a
              >
            </li>

            <li>
              <a
                class="has-arrow"
                href="javascript:void()"
                aria-expanded="false"
                ><i class="bi bi-map-marker"></i
                ><span class="nav-text">Localisation</span></a
              >
              <ul aria-expanded="false">
                <li><a href="{% url 'region' %}">Region</a></li>
                <li><a href="{% url 'prefecture' %}">Prefecture</a></li>
                <li>
                  <a href="{% url 'sous_prefecture' %}">Sous Prefecture</a>
                </li>
                <li>
                  <a href="{% url 'commune' %}">Commune / Arondissement</a>
                </li>
              </ul>
            </li>
            <li>
              <a
                class="has-arrow"
                href="javascript:void()"
                aria-expanded="false"
                ><i class="fa fa-wrench"></i
                ><span class="nav-text">Activité</span></a
              >
              <ul aria-expanded="false">
                <li><a href="{% url 'secteur' %}">Secteur</a></li>
                <li><a href="{% url 'publiccible' %}">Publics Cible</a></li>
              </ul>
            </li>

            <li>
              <a href="{% url 'centre_formation' %}" aria-expanded="false"
                ><i class="fa fa-graduation-cap"></i>
                <span class="nav-text">Centre Formation</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--**********************************
            Sidebar end
        ***********************************-->

    <!--**********************************
            Content body start
        ***********************************-->
    <div class="content-body">
      <div class="container-fluid">
        <div class="row page-titles mx-0">
          <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
              <h4>Nom de la Prefecture :{{prefecture.nom}}</h4>
            </div>
          </div>
          <div
            class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">App</a>
              </li>
              <li class="breadcrumb-item active">
                <a href="javascript:void(0)">Profile</a>
              </li>
            </ol>
          </div>
        </div>
        <!-- row -->

        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="profile-statistics">
                  <div class="text-center mt-4 border-bottom-1 pb-3">
                    <div class="row">
                      <div class="col">
                        <h3 class="m-b-0">{{nombre_centres}}</h3>
                        <span>Nombre de Centre de Formations</span>
                      </div>
                      <div class="col">
                        <h3 class="m-b-0">{{nombre_sousprefecture}}</h3>
                        <span>Nombre Sous Prefecture</span>
                      </div>
                      <div class="col">
                        <h3 class="m-b-0">{{nombre_communes}}</h3>
                        <span>Nombre commune</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h4 class="card-intro-title">Filtrer</h4>

                <div class="d-flex flex-column gap-3">
                  <!-- Sous-préfecture -->
                  <div class="form-group">
                    <label for="filtre-sousprefecture">Sous-préfecture :</label>
                    <select
                      multiple
                      id="filtre-sousprefecture"
                      class="form-control select-filtre"
                    >
                      {% for sousprefecture in sous_prefectures %}
                      <option value="{{ sousprefecture.id }}">
                        {{ sousprefecture.nom }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>

                  <!-- Commune -->
                  <div class="form-group">
                    <label for="filtre-commune">Commune :</label>
                    <select
                      multiple
                      id="filtre-commune"
                      class="form-control select-filtre"
                    >
                      {% for commune in communes %}
                      <option value="{{ commune.id }}">
                        {{ commune.nom }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>

                  <!-- Secteur -->
                  <div class="form-group">
                    <label for="filtre-secteur">Secteur :</label>
                    <select
                      multiple
                      id="filtre-secteur"
                      class="form-control select-filtre"
                    >
                      {% for secteur in secteurs %}
                      <option value="{{ secteur.id }}">
                        {{ secteur.nom }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>

                  <!-- Capacité max -->
                  <div class="form-group">
                    <label for="filtre-capacite">Capacité max :</label>
                    <input
                      type="number"
                      id="filtre-capacite"
                      class="form-control"
                      placeholder="Ex: 100"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8">
            <div class="card">
              <div class="card-body">
                <div class="profile-tab">
                  <div class="custom-tab-1">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a
                          href="#my-posts"
                          data-toggle="tab"
                          class="nav-link active show"
                          >Liste des centres</a
                        >
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table
                            id="example"
                            class="display"
                            style="min-width: 845px"
                          >
                            <thead>
                              <tr
                                data-sousprefecture="{{ centre.commune.sousprefecture.id }}"
                                data-commune="{{ centre.commune.id }}"
                                data-secteurs="{{ centre.secteurs.all|join:',' }}"
                                data-capacite="{{ centre.capacite }}"
                              >
                                <th>Intitule</th>
                                <th>Sigle</th>
                                <th>Adresse</th>
                                <th>Capacité</th>
                                <th>telephone</th>
                                <th>Commune</th>
                                <th>Action</th>
                              </tr>
                            </thead>

                            <tbody id="tableau-centres">
                              {% for centre in centres %}
                              <tr
                                data-commune="{{ centre.commune.nom }}"
                                data-secteur="{{ centre.secteurs.all.0.nom|default:'' }}"
                                data-capacite="{{ centre.capacite_max }}"
                              >
                                <td>
                                  <a href="{% url 'centre_detail' centre.pk %}"
                                    >{{centre.intitule}}</a
                                  >
                                </td>
                                <td>{{centre.sigle}}</td>
                                <td>{{centre.adresse}}</td>
                                <td>{{centre.capacite_max}}</td>
                                <td>{{centre.telephone}}</td>
                                <td>{{centre.commune.nom}}</td>
                                <td>Action</td>
                              </tr>
                              {% empty %}
                              <tr>
                                <td colspan="7">
                                  Aucun centre trouvé dans cette région.
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                            <tfoot>
                              <tr>
                                <th>Intitule</th>
                                <th>Sigle</th>
                                <th>Adresse</th>
                                <th>Capacité</th>
                                <th>telephone</th>
                                <th>Commune</th>
                                <th>Action</th>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--**********************************
            Content body end
        ***********************************-->

    <!--**********************************
            Footer start
        ***********************************-->
    <div class="footer">
        <div class="copyright">
          <p>
            Copyright © Designed &amp; Developed by
            <a href="#" target="_blank">Gilchrist KETTEGUIA</a> 2025
          </p>
        </div>
      </div>
    <!--**********************************
            Footer end
        ***********************************-->

    <!--**********************************
           Support ticket button start
        ***********************************-->

    <!--**********************************
           Support ticket button end
        ***********************************-->

    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const selects = document.querySelectorAll(".select-filtre");
        selects.forEach((select) => {
          new Choices(select, {
            removeItemButton: true,
            searchEnabled: true,
            shouldSort: false,
          });
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const filtreSousprefecture = document.getElementById(
          "filtre-sousprefecture"
        );
        const filtreCommune = document.getElementById("filtre-commune");
        const filtreSecteur = document.getElementById("filtre-secteur");
        const filtreCapacite = document.getElementById("filtre-capacite");

        const lignes = document.querySelectorAll("#table-centres tr");

        const getSelectValues = (select) => {
          return Array.from(select.selectedOptions).map(
            (option) => option.value
          );
        };

        const filtrer = () => {
          const sousprefectures = getSelectValues(filtreSousprefecture);
          const communes = getSelectValues(filtreCommune);
          const secteurs = getSelectValues(filtreSecteur);
          const capaciteMax = filtreCapacite.value;

          lignes.forEach((ligne) => {
            const ligneSouspref = ligne.dataset.sousprefecture;
            const ligneCommune = ligne.dataset.commune;
            const ligneSecteurs = ligne.dataset.secteurs
              ? ligne.dataset.secteurs.split(",")
              : [];
            const ligneCapacite = parseInt(ligne.dataset.capacite);

            const matchSouspref =
              sousprefectures.length === 0 ||
              sousprefectures.includes(ligneSouspref);
            const matchCommune =
              communes.length === 0 || communes.includes(ligneCommune);
            const matchSecteur =
              secteurs.length === 0 ||
              secteurs.some((s) => ligneSecteurs.includes(s));
            const matchCapacite =
              !capaciteMax || ligneCapacite <= parseInt(capaciteMax);

            if (
              matchSouspref &&
              matchCommune &&
              matchSecteur &&
              matchCapacite
            ) {
              ligne.style.display = "";
            } else {
              ligne.style.display = "none";
            }
          });
        };

        // Ajout des écouteurs sur tous les filtres
        [
          filtreSousprefecture,
          filtreCommune,
          filtreSecteur,
          filtreCapacite,
        ].forEach((el) => {
          el.addEventListener("change", filtrer);
          el.addEventListener("keyup", filtrer); // utile pour le champ capacité
        });
      });
    </script>

    <script>
      function toggleCheckboxes(prefix) {
        const checkboxes = document.querySelectorAll(`input[id^="${prefix}"]`);
        const allChecked = Array.from(checkboxes).every((cb) => cb.checked);
        checkboxes.forEach((cb) => (cb.checked = !allChecked));
      }
    </script>

    <script src="{% static 'vendor/global/global.min.js'%}"></script>
    <script src="{% static 'js/quixnav-init.js'%}"></script>
    <script src="{% static 'js/custom.min.js'%}"></script>

    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js'%}"></script>
  </body>
</html>
